<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<br>
<div class = "container">
    <div class = "row">
        <h6>
            <a th:href="@{/systems/sort}" style="text-decoration: none; color: black;" th:text="${s.sisterName}"></a> &gt;&nbsp;Task
        </h6>
    </div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-container-center card">
            <h1 class="text-center">Update Task</h1>
            <div class="card-body">
                <form th:action="@{/system/{sid}/tasks/{id}(sid=${s.sisterId},id=${task.taskID})}" th:object="${task}" method="post">
                    <div class="form-group">
                        <label>Task Name</label>
                        <input
                                type="text"
                                name="name"
                                th:field="*{taskName}"
                                class="form-control"
                                placeholder="Enter Task Name:"/>
                        <label>Select System</label>
                        <br>
                        <select name="sister" class="form-select">
                            <option th:each="sister : ${sisters}" th:value="${sister.sisterId}" th:selected="${task.sister.sisterId == sister.sisterId}" th:text="${sister.sisterName}"></option>
                        </select>
                    </div>
                    <br>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger" onclick="history.go(-1)">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>