<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<div class = "container">
    <div class = "row">
        <h1>List of All Tasks</h1>
    </div>

    <div class="btn-group" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary" onclick="location.href='/tasks/new'">Add task</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" onclick="location.href='/tasks/deleteall'">Delete All</button>&nbsp;&nbsp;
    </div>
    <div>
        <label for="sortOptions">Sort By:</label>
        <select id="sortOptions" onchange="redirectToSelectedLink(this)">
            <option value="">Select an option</option>
            <option value="/tasks/sort/name">Task Name</option>
            <option value="/tasks/sort/id">Task ID</option>
            <option value="/tasks/sort/sysName">System Name</option>
            <option value="/tasks/sort/sysId">System ID</option>
            <option value="/tasks/sort/tagName">TaskTag Name</option>
            <option value="/tasks/sort/tagID">TaskTag ID</option>
        </select>&nbsp;&nbsp;
    </div>
    <br>
    <table class = "table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Task ID</th>
            <th>Task Name</th>
            <th>Sys ID</th>
            <th>Sys Name</th>
            <th>Tag ID</th>
            <th>Tag Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${tasks}">
            <td th:text="${task.taskID}"></td>
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.sisterId}"></td>
            <td th:text="${task.sisterName}"></td>
            <td th:text="${task.taskTagID}"></td>
            <td th:text="${task.taskTagName}"></td>
            <td>
                <a th:href="@{/tasks/edit/{id}(id=${task.taskID})}" class="btn btn-primary">Update</a>
                <br class="br-visible">
                <br class="br-visible">
                <a th:href="@{/task/delete/{id}(id=${task.taskID})}" class="btn btn-danger">Delete</a>
                <br class="br-visible">
                <br class="br-visible">
                <a th:href="@{/systems/{id}/tasks/{tid}/highleveltasks/sort/id(id=${task.sisterId},tid=${task.taskID})}" class="btn btn-info">High Level Tasks</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>