<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-container-center card">
      <h1 class="text-center">Create New System</h1>
      <div class="card-body">
        <form th:action="@{/systems}" th:object="${sister}" method="post">
          <div class="form-group">
            <label>System Name</label>
            <input
                    type="text"
                    name="name"
                    th:field="*{sisterName}"
                    class="form-control"
                    placeholder="Enter System Name:"/>
          </div>
          <br>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
              <button type="button" class="btn btn-danger" onclick="history.go(-1)">
                  Cancel
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>