<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<div class="container">
    <br>
    <div class = "row">
        <h6>
            <a th:href="@{/systems/sort/id}" style="text-decoration: none;color: black;" th:text="${sister.sisterName}"></a> &gt;
            <a th:href="@{/systems/{id}/tasks/sort/id(id=${sister.sisterId})}" style="text-decoration: none;color: black;" th:text="${task.taskName}"></a> &gt;
            <a th:href="@{/systems/{id}/tasks/{tid}/highleveltasks/sort/id(id=${sister.sisterId},tid=${task.taskID})}" style="text-decoration: none;color: black;" th:text="${hlt.highLevelTaskName}"></a> &gt;
            <a th:href="@{/systems/{id}/tasks/{tid}/highleveltasks/{hid}/lowleveltasks/sort/id(id=${sister.sisterId},tid=${task.taskID},hid=${hlt.highLevelTaskID})}" style="text-decoration: none;color: black;" th:text="${llt.lowLevelTaskName}"></a> &gt;&nbsp;Low Level Sub Task
        </h6>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-container-center card">
            <h1 class="text-center">Create New Sub Task</h1>
            <div class="card-body">
                <form th:action="@{@{/systems/{id}/tasks/{tid}/highleveltasks/{hid}/lowleveltasks/{lid}/lowlevelsubtasks(id=${sister.sisterId},tid=${task.taskID},hid=${hlt.highLevelTaskID},lid=${llt.lowLevelTaskID})}}" th:object="${sub}" method="post">
                    <div class="form-group">
                        <label>Sub Task Name</label>
                        <input
                                type="text"
                                name="name"
                                th:field="*{lowLevelSubTaskName}"
                                class="form-control"
                                placeholder="Enter Task Name:"/>
                    </div>
                    <br>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger" onclick="history.go(-1)">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>