<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/copy.css}">
<script type="text/javascript" th:src="@{/js/copy.js}"></script>
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<br>
<div class="container">
    <h2 class="text-left">Copy:</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <pre class="bg-light p-3 rounded" style="position: relative;">
                        <h3>View 2</h3>
                        <button class="btn btn-primary"
                                style="position: absolute; top: 0; right: 0;"
                                onclick="copyToClipboard(document.querySelector('#tree1').innerText, document.querySelector('#tooltip1'))">Copy</button>
                        <code th:text="${tree1}" class="text-dark"></code>
                    </pre>
                </div>
            </div>
            <div id="tooltip1" class="tooltip">Copied!</div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <pre class="bg-light p-3 rounded" style="position: relative;">
                        <h3>View 3</h3>
                        <button class="btn btn-primary"
                                style="position: absolute; top: 0; right: 0;"
                                onclick="copyToClipboard(document.querySelector('#tree').innerText, document.querySelector('#tooltip2'))">Copy</button>
                        <code th:text="${tree}" class="text-dark"></code>
                    </pre>
                </div>
            </div>
            <div id="tooltip2" class="tooltip">Copied!</div>
        </div>
    </div>
</div>
</body>
</html>
