<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/copy.css}">
    <script type="text/javascript" th:src="@{/js/copy.js}"></script>
</head>
<script th:inline="javascript">
    const listText1 = [[${treeStyled}]];
    const listText2 = [[${tree1}]];
</script>
<body>
<div th:replace="~{fragments/general.html :: headerfragment}"></div>

<div th:replace="~{fragments/general.html :: navfragment}"></div>
<div style="text-align: center; background-color: black; padding: 10px;">
    <h1 th:text="${header}" style="max-width: 600px; margin: 0 auto; color: white;"></h1>
</div>
<br>
<div th:fragment="taskListHierarchy(taskLists)">
    <ul>
        <li th:each="taskList : ${taskLists}">
            <span th:text="${taskList.taskName}"></span>
            <ul th:if="${taskList.taskLists}" class="nested-list">
                <li th:replace="~{tree/childTaskList :: taskListHierarchy(taskLists=${taskList.taskLists})}"></li>
            </ul>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body position-relative">
                    <br>
                    <br>
                    <h3 class="text-left">View 1</h3>
                    <button class="btn btn-primary"
                            style="position: absolute; top: 10px; right: 20px;"
                            onclick="copyListToClipboard1()">
                        Copy
                    </button>
                    <div class="bg-white p-3 rounded">
                        <ul>
                            <li th:each="sisterTaskList : ${taskList.taskLists}" class="nested-list">
                                <span th:text="${sisterTaskList.taskName}"></span>
                                <ul>
                                    <li th:each="taskTaskList : ${sisterTaskList.taskLists}" class="nested-list">
                                        <span th:text="${taskTaskList.taskName}"></span>
                                        <ul th:if="${taskTaskList.taskLists}" class="nested-list">
                                            <li th:replace="~{tree/childTaskList :: taskListHierarchy(taskLists=${taskTaskList.taskLists})}"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
            <div id="tooltip-list1" class="tooltip">Copied!</div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <br>
                    <br>
                    <h3 class="text-left">View 2</h3>
                    <button class="btn btn-primary copy-btn-top-right"
                            onclick="copyListToClipboard2()">
                        Copy
                    </button>
                    <div id="tree1" class="bg-white p-3 rounded" style="position: relative;">
                        <ol style="list-style-type: decimal;">
                            <li th:each="sisterTaskList : ${taskList.taskLists}">
                                <span th:text="${sisterTaskList.taskName}"></span>
                                <ol style="list-style-type: lower-alpha;">
                                    <li th:each="taskTaskList : ${sisterTaskList.taskLists}">
                                        <span th:text="${taskTaskList.taskName}"></span>
                                        <ol style="list-style-type: lower-alpha;">
                                            <li th:each="lowLevelTask : ${taskTaskList.taskLists}">
                                                <span th:text="${lowLevelTask.taskName}"></span>
                                                <ol style="list-style-type: lower-roman;">
                                                    <li th:each="lowLevelSubTask : ${lowLevelTask.taskLists}">
                                                        <span th:text="${lowLevelSubTask.taskName}"></span>
                                                        <ol style="list-style-type: disc;">
                                                            <li th:each="finalTask : ${lowLevelSubTask.taskLists}">
                                                                <span th:text="${finalTask.taskName}"></span>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <br>
                    </div>
                </div>
            </div>
            <div id="tooltip-list2" class="tooltip">Copied!</div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h3>&nbsp;</h3>
                    <h3 class="text-left mb-0">View 3</h3>
                    <button class="btn btn-primary copy-btn-top-right"
                            onclick="copyPreToClipboard('tree')">
                        Copy
                    </button>
                    <pre id="tree" class="bg-white p-3 rounded" style="position: relative;">
                            <code th:text="${tree}" class="text-dark"></code>
                    </pre>
                </div>
            </div>
            <div id="tooltip-list3" class="tooltip">Copied!</div>
        </div>
    </div>
</div>
</body>
</html>
