<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<div class = "container">
    <div class = "row">
        <h1>List of All Task Tags</h1>
    </div>
    <div>
        <form id="sortForm" action="/tasktags/sort" method="post">
            <label for="sortOptions">Sort By:</label>
            <select id="sortOptions" name="sortBy" onchange="submitForm()">
                <option value="">Select an option</option>
                <option value="taskTagID">Tag ID</option>
                <option value="taskTagName">Tag Name</option>
            </select>
        </form>
        <script>
            function submitForm() {
                document.getElementById("sortForm").submit();
            }
        </script>
    </div>
    <br>
    <table class = "table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Task Tag ID</th>
            <th>Task Tag Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tasktag:${tasktags}">
            <td th:text="${tasktag.taskTagID}"></td>
            <td th:text="${tasktag.taskTagName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>