<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/general.html :: headerfragment}"></div>
<body>
<div th:replace="~{fragments/general.html :: navfragment}"></div>
<br>
<div class="welcome">
    <h1>Welcome to Project Manager App</h1>
    <p>Manage your projects efficiently with Project Manager App.</p>
    <br>
</div>
<div class="additional-content">
    <div class="image-container">
        <img th:src="@{/css/img/800px_COLOURBOX18546495.jpg}" alt="Image description">
    </div>
    <div class="text-container">
        <h2>Let's Get Started</h2>
        <p>Welcome to the Project Manager App, your all-in-one solution for efficient project management. Whether you're a seasoned project manager or a first-time user, our app is designed to streamline your project workflow and enhance collaboration among team members.</p>
        <p>With our intuitive interface, you can create and organize projects into well-structured systems, ensuring seamless project tracking and monitoring. Break down complex projects into manageable tasks, and further categorize them into high-level and low-level tasks for better clarity.</p>
    </div>

</div>
</body>
</html>